services:

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ai_workspace
    ports:
      - "5432:5432"

  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    environment:
      - SERVICES=s3,sqs
      - DEBUG=1
      - AWS_DEFAULT_REGION=us-east-1
    ports:
      - "4566:4566"

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    volumes:
      - ./backend:/app
      - /app/venv
    container_name: backend
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - localstack

  worker:
    build:
      context: .
      dockerfile: worker/Dockerfile
    container_name: worker
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - postgres
      - localstack